*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* flex will make child element to inline element  */

nav{
    background-color:darkcyan;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content:space-between; */
    /* justify-content: space-around; */
    align-items: center;
}
span{

    /* height: 40px; */
    /* width: 20px;   */
    background-color: red;
}