*{
    padding: 0;
    margin: 0;

}

main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 25vh;
    width: 25vw;
    border: 1px solid white;
}
article{
    height: 50%;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div{
    height: 50%;
    width:40px;
    border-radius: 50%;
    background-color: white;
}